# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
node_modules

# Optional npm cache directory
.npm

#IntelliJ IDEA
.idea
*.iml

#OS X
.DS_Store
